include LICENSE
include MANIFEST.in
include README.rst
recursive-include demo *
recursive-include docs *
recursive-include regwall/templates *
recursive-include regwall/tests/articles/fixtures *
recursive-include regwall/tests/templates *