{% load regwall_tags %}

{% get_regwall_list as regwall_list %}
{% get_regwall_list_read as regwall_list_read %}
{% get_regwall_limit as regwall_limit %}
{% get_regwall_expire as regwall_expire %}

{% if regwall_list_read|length > 0 %}
<p>You read {{ regwall_list_read|length }} of your {{ regwall_limit }} free article{{ regwall_limit|pluralize }} for {{ regwall_expire }} day{{ regwall_expire|pluralize }}. <a href="{% url 'login' %}">Log in or register to read unlimited articles</a>.</p>
{% endif %}