{% extends "base.html" %}


{% block content %}

{# django-paywall #}
{% if request.session.paywall_list_count > request.session.paywall_limit %}
<div class="alert alert-info" role="alert">
    <p>Thank you for reading. You reached the limit of {{ request.session.paywall_limit }} free article{{ request.session.paywall_limit|pluralize }} for {{ request.session.paywall_expire }} days. Please log in as a subscriber to fund the work of quality journalism.</p>
</div>
{% endif %}
{# end django-paywall #}

<h1>Log in</h1>

{% if form.errors %}
<div class="alert alert-danger">
    <p>We found {{ form.errors|pluralize:"a,some" }} mistake{{ form.errors|pluralize }} in your form.</p>
    <ul>
        {% for error in form.non_field_errors %}
        <li class="text-danger">{{ error }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form method="post" action="#">

    {% csrf_token %}

    {% for field in form %}
        {% if field.is_hidden %}
            {{ field }}
        {% else %}
            <div class="form-group{% if field.errors %} has-error{% endif %}">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>

                {# Probably want to add `class="form-control"` to field widget somehow #}
                <p>{{ field }}</p>

            </div>
            {% if field.help_text %}
            <p class="help-block"><small>{{ field.help_text|safe }}</small></p>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if next %}
    <input type="hidden" name="next" value="{{ next }}">
    {% endif %}

    <button class="btn btn-default btn-block" type="submit">Log in</button>

</form>

<p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>

<p>Don't have an account? <a href="#">Sign up for free</a>.</p>

{% endblock %}
