{% extends "base.html" %}

{% load i18n %}


{% block title %}{{ article.headline }} &#183; {{ block.super }}{% endblock %}


{% block content %}

{% include 'regwall/detail.html' %}

<h1>{{ article.headline }}</h1>

<p>{{ article.body }}</p>

{% if article.get_previous_by_pub_date or article.get_next_by_pub_date %}
<ul>
    {% if article.get_next_by_pub_date %}
    <li><a href="{{ article.get_next_by_pub_date.get_absolute_url }}">&larr; {{ article.get_next_by_pub_date.headline }}</a></li>
    {% endif %}
    {% if article.get_previous_by_pub_date %}
    <li><a href="{{ article.get_previous_by_pub_date.get_absolute_url }}">{{ article.get_previous_by_pub_date.headline }} &rarr;</a></li>
    {% endif %}
</ul>
{% endif %}

{% endblock %}